@page 
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "Contact";
}

<table>
    <tr>
        <th>Navn</th>
        <th>Mobil</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Karen</td>
        <td>25 25 64 92</td>
        <td>karen@mail.com</td>


    </tr>

</table>