@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table>
    <tr>
        <th>Dag</th>
        <th>Varm ret</th>
        <th>Kold ret</th>
    </tr>
    <tr>
        <td>Mandag 01-03-2023</td>
        <td>Lassagne</td>
        <td>Smørbørd</td>
       

    </tr>
    <tr>

        <td>Tirsdag 02-03-2023</td>
        <td>Suppe</td>
        <td>Rugbrød</td>

    </tr>
</table>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
